/* Google Fonts, Marcellus SC */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* Wildcard_Override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus SC', serif;
    overflow: visible;

/* Header and Nav Section */    
.header {
    background-color: rgb(5, 10, 10) ;
    text-align: center;
    width: 100%;  
}

nav {
    position: sticky;
    top: 0;
    z-index: 100%;
}

.header a {
    text-decoration: none;
}
/* Home Navigation */
#home-nav {
    color: rgb(197, 99, 7);
    padding: 2px 5px;
    font-size: 40px;
}
/* gigs and about navigation link-buttons */
#about-nav, #gigs-nav {
    color: rgb(197, 99, 7);
    padding: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Main Section */
main {
    flex: 1 0 auto;
    margin-top: 0;
    border-bottom: 1px;
}

/* Hero image section */
#hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: url(../images/page_pic_horisont.jpg) no-repeat; /* Used TinyPNG to reduce image size */
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}

.text-over-hero {  
    background-color: rgba(41, 38, 36, 0.6);
    color: rgb(201, 104, 97);
    box-sizing: border-box;
    text-align: right;
    padding: 10px;
}

ul {
    list-style-type: none;
}

/* About Section */
#about {
    background-color: rgb(5, 10, 10);
}

.text-intro-heading {
    color: rgb(236, 196, 162);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
}

.text-intro {
    background-color: rgba(41, 38, 36, 0.6);
    width: 100%;
    height: 100%;
    border: double grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 10px;
}

.text-intro p {
    color: rgb(201, 104, 97);

}

.text-intro h2, p {
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
    
}

/* Footer */
footer {
    background-color: rgb(168, 5, 5);
    margin-bottom: 0;
    padding: 15px;
    margin-top: 0px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    #hero {
        width: 100%;
        background-size: cover;
        background-position: bottom;
    }

    .text-over-hero {
        padding-right: 50px;
    }

    .text-intro {
    display: flex;
    box-sizing: border-box;
    height: auto;
    }

}

@media screen and (min-width: 992px) {
    #hero {
        background-size: cover;
        background-position: right;
        position: relative;
        }

}