/* Google Fonts, Marcellus SC */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* Wildcard_Override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Marcellus SC', serif;
    overflow: visible;

.header {
    text-align: center;
    width: 100%;  
}

nav {
    position: sticky;
    top: 0;
    z-index: 100%;
}

.header a {
    text-decoration: none;
}

#home-nav {
    color: rgb(197, 99, 7);
    padding: 0 5px;
    font-size: 40px;
}

#menu-nav, #gigs-nav {
    color: rgb(197, 99, 7);
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    margin-top: 0;
    border-bottom: 1px;
}

#hero {
    display: flex;
    flex-direction:column column;
    height: 100vh;
    width: 100%;
    background: url(../images/page_pic_horisont.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    
}

footer {
    background-color: black;
    margin-bottom: 0;
    padding: 0px;
    margin-top: 0;
}

@media screen and (min-width: 700px) {
    #hero {
        width: 100%;
        background-size: cover;
        background-position: bottom;
        position: bottom;;
    }
}

@media screen and (min-width: 1200px) {
    #hero {
        background-position: right;
        position: relative;

    }

}